
.icon-clouds-flash-inv:before { content: '\e800'; } /* '' */
.icon-hail-inv:before { content: '\e801'; } /* '' */
.icon-windy-rain-inv:before { content: '\e802'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e803'; } /* '' */
.icon-rain-inv:before { content: '\e804'; } /* '' */
.icon-snow-heavy:before { content: '\e805'; } /* '' */
.icon-windy-rain:before { content: '\e806'; } /* '' */
.icon-rain:before { content: '\e807'; } /* '' */
.icon-cloud-flash:before { content: '\e808'; } /* '' */
.icon-sun:before { content: '\e809'; } /* '' */